.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10pt;
}

.textInput label {
  margin: 5pt;
}
.textInput span {
  color: rgb(84, 84, 84);
  padding-top: 50pt;
  padding: 10pt;
}
.textInput ::placeholder {
  color: lightgrey;
}

.textInput input {
  margin: 0 10pt;
  padding: 10pt;
  border: 1pt solid lightgrey;
  border-radius: 5pt;
  width: 80%;
}
.checkInput {
  margin-bottom: 20pt;
}

.errorMsg {
  background-color: rgb(224, 36, 94, 0.1);
  border: 1px solid rgba(224, 36, 94, 0.2);
  border-radius: 5px;
  color: rgb(224, 36, 94);
  margin-top: 20px;
  padding: 10px 15px;
}